footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}
footer * {
  color: #fff;
  font-weight: lighter;
}

@media (max-width: 450px) {
  footer div {
    text-align: end;
  }
}