@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --fontColorB: black;
  --fontColorC: #ccc;
  --fontSizeBig: 60px;
  --fontSizeXs: 14px;
  --fontSizeSm: 16px;
  --fontSizeSecond: 25px;
  --fontSizeThird: 20px;
  --fontSizeRegular: 18px;
  --mainColor: #fef8e7;
  --subColor: #fff;
  --sideColor: #ebebeb;
}
body {
  font-family: "Pretendard-Regular";
  width: 100vw;
  overflow-x: hidden;
}
* {
  text-decoration: none;
  color: var(--fontColorB);
  font-size: var(--fontSizeRegular);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
}

h1 {
  font-size: var(--fontSizeBig);
  font-style: italic;
  font-family: Fahkwang;
}
h2 {
  font-size: var(--fontSizeSecond);
}
h3 {
  font-size: var(--fontSizeThird);
}
